.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    // min-block-size: var(--header-acction-height);
    height: var(--header-acction-height);
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    user-select: none;
    white-space: nowrap;
    font-family: 'Circular Std', sans-serif;
}
.icon {
    display: inline-block;
    min-width: 23px;
    min-height: 23px;
    max-width: 24px;
    max-height: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.title {
    flex: 1;
}

.icon + .title,
.title + .icon {
    margin-left: 16px;
}

.primary {
    display: inline-flex;
    border-radius: 500px;
    background-color: #fff;
    color: #000;
    &:hover {
        background-color: #f6f6f6;
    }
}

.outline {
    display: inline-flex;
    border-radius: 500px;
    background-color: #000;
    color: #fff;
    border: 1px solid #727272;
    &:hover {
        border: 1px solid currentColor;
    }
}

.text {
    letter-spacing: 1px;
    margin: 0;
    padding: 0 8px;
    color: var(--text-subdued);
    background-color: transparent;
    // &:hover {
    //     color: #fff;
    // }
}
.scale {
    &:hover {
        transform: scale(1.04);
    }
}

.disable {
    cursor: not-allowed;
    opacity: 0.5;
}
