@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --icon-size: 25px;

    --sidebar-with: 241px;
    --sidebar-with-rep: 200px;
    --clone-sibar-height: 40px;

    --header-height: 64px;
    --clone-header-height: 40px;
    --header-acction-height: 48px;

    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-subdued-sidebar: #b3b3b3;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: #ffffff12;
    --background-tinted-highlight: #ffffff1a;
    --background-tinted-press: #ffffff0a;
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
}

// ::-webkit-scrollbar {
//     width: 14px;
// }
// ::-webkit-scrollbar-thumb {
//     width: 13px;
//     border: #fff 1px solid;
//     background-color: #000000;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button {
    cursor: pointer;
}

button,
input,
[tabindex] {
    outline: 1px solid transparent;
    border: 1px solid transparent;
}

a[href] {
    text-decoration: none;
}

.hover-white {
    &:hover {
        color: #fff;
    }
}
