@media only screen and (max-width: 1200px) {
    .container {
        .content {
            padding: 16px;
            .directional {
                .back-btn {
                    margin-right: 12px;
                }
                .forward-btn {
                    display: none;
                }
            }
        }
        .actions {
            .spboder {
                margin: 0 8px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .actions {
        .main-action {
            .header-btn:nth-child(1) {
                margin-right: 22px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .container {
        .actions {
            .header-btn {
                padding: 8px 32px;
            }
            .sub-action {
                display: none;
            }
            .main-action {
                margin-left: 0px;
            }

            .spboder {
                display: none;
            }
            .sub-action-bar {
                display: flex;
            }
        }
    }
}

.wrapper {
    grid-area: main-view;
    height: 64px;
    width: 100%;
    z-index: 2;
}
.header-containter {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
    padding: 16px;
    padding-inline-end: 16px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.backgroud {
    background-color: #000;
    height: var(--header-height);
    position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    z-index: 4;
    opacity: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content {
    padding: 16px 32px;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding-inline-end: 16px;
    position: relative;
    width: 100%;

    z-index: 5;
}

.directional {
    display: flex;

    .back-btn,
    .forward-btn {
        height: 32px;
        width: 32px;
        margin-right: 16px;
        font-size: var(--icon-size);
        color: var(--text-subdued);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        border-radius: 50%;
        z-index: 5;
    }
}

.actions {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    .header-btn {
        display: flex;
        user-select: none;
        cursor: default;
        &:hover {
            color: #fff;
        }
    }
}

.sub-action,
.main-action {
    display: flex;
    margin: 0;
}

.main-action {
    .header-btn:nth-child(1) {
        margin-right: 24px;
        letter-spacing: 0;
    }
    .header-btn:nth-child(2) {
        &:hover {
            color: #000;
        }
    }
}

.spboder {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

.sub-action-bar {
    display: none;
    justify-content: center;
    align-items: center;

    .bar-btn {
        border-radius: 500px;

        padding: 4px;
        background-color: transparent;
        color: white;
        &:hover {
            background-color: #282828;
        }
    }
}
