.wrapper,
.container {
    width: 241px;
}

.wrapper {
    min-height: 1000px;
    position: relative;
    z-index: 100;
    height: 100%;
    background-color: #000;
}

.container {
    position: fixed;
}
.logo {
    width: 100%;
    margin-bottom: 18px;
    padding: 12px 24px;
    position: relative;
    background-color: transparent;
    text-align: unset;

    img {
        height: 40px;
        max-width: 131px;
        width: 100%;
    }
}
