@media only screen and (max-width: 1200px) {
    .wrapper,
    .container {
        width: var(--sidebar-with-rep) !important;
    }
}

//
.wrapper {
    grid-area: nav-bar;
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
    width: 241px;
    z-index: 4;
}

.container {
    z-index: 4;
    height: 100vh;
    cursor: default;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    padding-top: 24px;
    user-select: none;
    width: 100%;
}

// .container .background {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #000;
// }
.container {
    .sidebar-btn {
        height: var(--clone-header-height);
        width: 100%;
        display: flex;
        text-align: left;
        margin: 0;
        padding: 0;
        padding-left: 24px;
        font-size: 1.4rem;
        color: var(--text-subdued-sidebar);
        fill: var(--text-subdued-sidebar);
        letter-spacing: normal;

        &:hover {
            color: #fff;

            fill: #fff;
        }
    }
}

.logo {
    display: flex;
    flex: 1;
    margin-bottom: 24px;
    padding: 0 24px;
    background-color: transparent;
    border: 0;

    img {
        height: var(--clone-header-height);
        max-width: 131px;
        width: 100%;
    }
}

// .add-icon {
//     .sidebar-btn {
//         align-items: center;
//         justify-content: center;
//         justify-items: center;
//     }
// }
