.wrapper {
    display: flex;
    color: #fff;
    background-color: #121212;
    display: flex;
    width: 100%;
    min-width: 768px;
    height: 100vh;
}

.content {
    padding-top: 64px;
    width: 100%;
    background-color: #121212;
    // min-height: calc(100vh - 64px);

    flex: 1;
    position: relative;
    // width: calc(100% - 570px);
    min-height: 100%;
}
